@font-face {
  font-family: yofont;
  src: url("/easy_work/img/iconfont/iconfont.woff") format("woff"), url("/easy_work/img/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-back.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-back.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-work.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-work.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-dingwei.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-dingwei.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-talk.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-talk.ttf") format("truetype");
}